            table{
            border: 1px solid gray;
            border-collapse: collapse;
            margin: 0 auto;
            width: 80%;
            max-width: 800px;
            background-color: white;
            }

            h1 {
                font-size: 40px;
                margin: 30px;
            }

            h2 {
                font-size: 30px;
                padding: 10px;
            }

            .botao {
                font-size: 35px;
                text-align-last: center; 
                border: 1px solid gray;
                background-color: #EEB1D5;
                width: auto;
                align-self: center;
                text-decoration: none;
                align-content: center;
                
            }
            a:visited {
                color: black;
            }
            td{
                border: 1px solid gray;
                background-color: #f8f4f4;
                padding: 5px;
                font-size: 25px;
                color:#EEB1D5
            }

            td, button:hover {
            cursor: pointer;
        }

        .centralizar {
            display: flex;
            justify-content: center;
            
        }
        
        #grid {
                display: grid;
                grid-template-columns: 700px 700px;
                background-color: white;                
            }

            #grid > .col {
                background-color: #f8f4f4;
                font-size: 21px;
                padding: 10px;
                border: 1px solid gray;
                border-collapse: collapse;
                margin: 10px auto;
                width: 80%;
                max-width: 600px;
            }
            