table{
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    background-color: white;
}

h2 {
    font-size: 20px;
    padding: 10px;
}

.botao {
    font-size: 16px;
    font-weight: bold;
    text-align-last: center; 
    border: 1px solid gray;
    background-color: #EEB1D5;
    padding: 5px 20px;
    border-radius: 4px;
    width: auto;
    align-self: center;
    text-decoration: none;
    align-content: center;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    
}
td{
    border: 1px solid gray;
    background-color: #fff;
    padding: 10px;
    font-size: 16px;
    color:#e51566;
}

td, button:hover {
    cursor: pointer;
}

.centralizar {
    display: flex;
    justify-content: center;
    
}

.col {
    background-color: #fff;
    font-size: 18px;
    padding: 20px;
    border: 1px solid gray;
    border-collapse: collapse;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.card-image {
    height: 150px;
    width: 150px;

}
.card-image2 {
    height: 120px;
    width: 250px;

}
.card-image2 {
    height: 120px;
    width: 250px;

}
