.banner {
  width: 100%;
}
.banner img {
  width: 100%;

  max-height: 400px;
  object-fit: cover;
  box-shadow: 0 2px 16px rgba(0,0,0,0.08);
}

.destaque h2, .mais-vendidos h2 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #222;
}

/*
 Destaque CSS
*/
.game-card {
  border-radius:0 0 5px 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background:#fff;
  height: 250px;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.2s, transform 0.2s;
}
.game-card:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
}
.game-img {
  width: 100%;
  height:50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0;
}
.game-content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
}
.game-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin: 1rem 0 0.2rem 1rem;
  color: #222;
}
.game-info {
  font-size: 0.95rem;
  color: #444;
  margin: 0 0 0.5rem 1rem;
  display: flex;
  gap: 1.2rem;
}
.game-price {
  font-size: 1.1rem;
  color: #e51566;
  font-weight: bold;
  margin: 0.5rem 1rem 1rem auto;
}

/*
  Lista de Jogos CSS
  */

.games-list {
  /* border: 1px solid #e51566; */
}

.game-list-item {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  background:#fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  color: inherit;
  transition: background-color 0.4s, transform 0.2s;
  margin-bottom: 2px;
}

.game-list-item:hover {
  background: #fbeaf2;
}

.games-list .game-list-item:last-child {
  border-bottom: none;
}

.game-list-item img {
  width: 120px;
  height: 90px;
  object-fit: cover;
  border-radius: 3px;
}
.game-list-item .game-title {
  flex: 1;
  font-size: 1rem;
  font-weight: 500;
}
.game-list-item .game-price {
  color: #e51566;
  font-weight: bold;
  font-size: 1rem;
}
.game-tags {
  display: flex;
  gap: 0.5rem;
  margin: 0 0 0.5rem 1rem;
  flex-wrap: wrap;
}
.game-tags span {
  background: #f5f5f5;
  color: #d3648f;
  font-size: 0.85rem;
  padding: 2px 8px;
  border-radius: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.game-discount {
  display: inline-block;
  background: #6c217e;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.4em 1em;
  border-radius: 6px;
  margin-right: 1rem;
}
.game-old-price {
  color: #adadad;
  text-decoration: line-through;
  font-size: 0.95rem;
  margin-right: 0.5rem;
}

.game-prices {
  text-align: right;
  width: 100%;
  padding-top:5px;
}

.col-8 img {
  width: 100%;
  display: block;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.col-8 {
  margin: 100px 0;
  margin-left: 16.66%;
}