body {
  background-color: #802BDB;
}

.card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 24px;
    text-align: center;
    transition: box-shadow 0.2s;
}
.card img {
    width: 150px;
    height: auto;
}

.search-bar {
    width: 100%;
    background: none;
    box-shadow: none;
    margin-bottom: 0;
    padding: 0;
    width: auto;
    display: flex;
    align-items: center;
}
.search-bar form {
    display: flex;
    gap: 8px;
}
.search-bar input[type="text"] {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    height:55px;
    width: 450px;
    
  }
.search-bar button {
    padding: 8px 16px;
    background: #802BDB;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}
.search-bar button:hover {
    background: #5e1fa1;
}
.banner {
  background-image: url("../images/suporte_banner.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}